body {
    background-image: url(../img/bgLowRes.gif);
    background-position: center;
    background-repeat: no-repeat;    
    background-size: cover;        
    background-attachment: fixed;     
    margin: 0;
    padding: 0; 
    color: white; 
}

.mainCard {
    width: 400px; 
    padding: 32px;
    height: fit-content;
    margin-top: 20vh;
    margin-right: 100px;
    margin-bottom: 20vh;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.541);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.mainCard input[type="text"], .mainCard input[type="password"], .mainCard input[type="email"] {
    background: transparent;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
}

 .mainCard input::placeholder {
    background: transparent;
    color: white;
    /* background-color: aqua; */
}

#forgotPassword {
    margin-top: 5px;
    margin-bottom: 5px;
}

form button {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px !important;
    background-color: rgba(34, 206, 100, 0.815) !important;
    color: black !important;
    font-weight: bold;
    border: none !important;
}

#textReg a, #text-forgot a {
    color: white !important;
    text-decoration: none !important;
    font-weight: bold;
}
#textReg a:hover, #text-forgot a:hover {
    text-decoration: underline !important;
    color: white !important;
}

.is-invalid {
    color: #f75252;
    /* font-weight: bolder; */
}

.is-valid {
    color: green;
}

#customModal {
    color: white;
    /* font-weight: bold; */
    text-align: center;
    /* font-size: 20px; */
}

.card-pos {
    display: flex;
    justify-content: flex-end; /* Aligns card to the right */
    align-items: flex-start;   /* Aligns card to the top */
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    padding-right: 5vw;        /* Space from the right edge */
    padding-top: 5vh;          /* Space from the top */
}

@media (max-width: 622px) {
    .card-pos {
        justify-content: center; /* Center card on small screens */
        padding-right: 0;
        padding-top: 5vh;
    }
    .mainCard {
        margin: 10%;
        padding: 50px;
    }
}

@media (max-width: 425px) {
    .mainCard {
        width: 98%;
        padding: 50px;
        margin: 10%;
    }
}

@media (max-width: 320px) {
    .mainCard {
        width: 98%;
        padding: 5px;
    }
}