<!DOCTYPE html>

<nav class="mine-navbar navbar navbar-expand-lg fixed-top bg-dark">
        <div class="container-fluid ">
            <div class="logo-container">
                <a class="navbar-brand" href="#">My Portfolios</a>
            </div>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="mx-auto d-flex justify-content-center">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="#">About Me</a>
                        <a class="nav-link" href="#skills">Skills</a>
                        <a class="nav-link" href="#projects">Projects</a>
                    </div>
                </div>
                <div class="ms-auto d-flex align-items-center contact">
                    <button class="btn nav-link" data-bs-toggle="modal" data-bs-target="#contactCardModal">Contact Me</button>
                </div>
            </div>
        </div>
    </nav>