<div class="skills-data-card" id="skills">
        <h3 class="text-center">Skills</h3>
        <div class="container py-5">
            <div class="row text-center">
                <div class="col-md-4 mb-3">
                    <div class="card h-100 text-white bg-my-card">
                        <div class="card-body">
                            <h5 class="card-title">Web Development</h5>
                            <p class="card-text">Experienced in HTML, CSS, JavaScript.
                            </p>
                        </div>  
                    </div> 
                </div>
                <div class="col-md-4 mb-3">"
                    <div class="card h-100 text-white bg-my-card">
                        <div class="card-body">
                            <h5 class="card-title">Troubleshooting and Hardware Device Maintenance</h5>
                            <p class="card-text">Skilled in Troubleshooting Software and Hardware</p>
                        </div>  
                    </div>  
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card h-100 text-white bg-my-card">
                        <div class="card-body">
                            <h5 class="card-title">Software Tools</h5>
                            <p class="card-text">Skilled in MS Office Word, Exel, PPT.</p>
                        </div>  
                    </div>  
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card h-100 text-white bg-my-card">
                        <div class="card-body">
                            <h5 class="card-title">Beginner in 3d Modeling</h5>
                            <p class="card-text">Create Basic 3d Scenes In Blender.</p>
                        </div>  
                    </div>  
                </div>
                <div class="col-md-4 mb-3">''
                    <div class="card h-100 text-white bg-my-card">
                        <div class="card-body">
                            <h5 class="card-title">Video and Image Editing</h5>
                            <p class="card-text">Beginner in Video Editing and Image Editing in Photoshop.</p>
                        </div>  
                    </div>  
                </div>
                <div class="col-md-4 mb-3">''
                    <div class="card h-100 text-white bg-my-card">
                        <div class="card-body">
                            <h5 class="card-title">Database Management</h5>
                            <p class="card-text">Skilled in MySql, Postgre, Pyton and database analysis.</p>
                        </div>  
                    </div>  
                </div>
            </div>
        </div>

    </div>